.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
::ng-deep .mat-expansion-panel-body {
  text-align: center;
}
.card-portada{
  max-width: 250px;
  margin: 1rem;
}
.container{
  display: flex;
  flex-direction: row;
}
.year{
  color: rgb(106, 91, 241);
  font-weight: bold;
}

