<mat-card>
  <mat-card-title>
    Galería de fotos
  </mat-card-title>
  <mat-card-content>
    <br>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let g of galerias">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="year">{{g.year}}</span>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">

          <mat-card *ngFor="let key of g.principales" class="card-portada">
            <mat-card-header>
              <mat-card-title>{{key.titulo}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="key.img" (click)="openCarousel(key.titulo,key.idGaleriaFoto)">
            <mat-card-content></mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button color="primary" mat-raised-button (click)="openCarousel(key.titulo,key.idGaleriaFoto)" >
                <mat-icon>search</mat-icon>Ver mas</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </mat-expansion-panel>


    </mat-accordion>

  </mat-card-content>
</mat-card>
