

<mat-card>
  <mat-card-title>Mi Perfil</mat-card-title>
<div class="container">

  <div class="image-content">
    <img mat-card-image [src]="photoBlobUrl">

    <button mat-raised-button color="primary" (click)="fileInput.click()">
        <input #fileInput type="file" (change)="fileChange($event)" style="display:none;">
        <mat-icon>file_upload</mat-icon>
        Subir foto
  </button>
</div>

<div>

  <mat-form-field appearance="fill">
    <mat-label>Nombre Completo</mat-label>
    <input matInput value="{{perfil?.nombreCompleto}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cumpleaños</mat-label>
    <input matInput value="{{perfil?.cumpleanos}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de ingreso</mat-label>
    <input matInput value="{{perfil?.fechaIngreso}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput value="{{perfil?.correo}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Telefono</mat-label>
    <input matInput value="{{perfil?.telefonos}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Celular</mat-label>
    <input matInput value="{{perfil?.telefonos}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preferencias</mat-label>
    <input matInput  readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Especialidad</mat-label>
    <input matInput  readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Reportar a </mat-label>
    <input matInput value="{{perfil?.jefeDirecto}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Puesto</mat-label>
    <input matInput  readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Empresa</mat-label>
    <input matInput value="{{perfil?.empresa}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Gerencia</mat-label>
    <input matInput  readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Area</mat-label>
    <input matInput readonly>
  </mat-form-field>

</div>

<!--
  <div style="margin-left: 3rem;">
    <table>
      <td>
        <tr class="title">Fecha de ingreso:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Correo:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Teléfono:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Celular:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Preferencias:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Especialidad:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Reporta a :</tr>
        <tr class="espacio"></tr>
      </td>
      <td>
        <tr>{{perfil?.fechaIngreso}}</tr>
        <tr class="espacio"></tr>
        <tr>{{perfil?.correo}}</tr>
        <tr class="espacio"></tr>
        <tr>{{perfil?.telefonos}}</tr>
        <tr class="espacio"></tr>
        <tr>{{perfil?.telefonos}}</tr>
        <tr class="espacio"></tr>
        <tr>#####</tr>
        <tr class="espacio"></tr>
        <tr>{{perfil?.jefeDirecto}}</tr>
      </td>
      <td style="padding-left:10rem">
        <tr class="title">Cumpleaños :</tr>
        <tr class="espacio"></tr>
        <tr class="title">Nombre completo:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Puesto:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Empresa:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Especialidad:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Gerencia:</tr>
        <tr class="espacio"></tr>
        <tr class="title">Area:</tr>
      </td>
      <td>
        <tr>{{perfil?.cumpleanos}}</tr>
        <tr class="espacio"></tr>
        <tr>{{perfil?.nombreCompleto}}</tr>
        <tr class="espacio"></tr>
        <tr>######</tr>
        <tr class="espacio"></tr>
        <tr>{{perfil?.empresa}}</tr>
        <tr class="espacio"></tr>
        <tr>#####</tr>
        <tr class="espacio"></tr>
        <tr>####</tr>
        <tr class="espacio"></tr>
        <tr>######</tr>
      </td>
    </table>

  </div>
-->

</div>
</mat-card>


