<mat-card>
  <mat-card-title>
    Reporte Boleta de Pagos
  </mat-card-title>

  <mat-card-content>

      <mat-form-field appearance="fill" dateMMYYYY>
        <mat-label>Periodo</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date" >
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>


      <button mat-raised-button color="primary" (click)="export()">Ver
      </button>
  </mat-card-content>

  <mat-card-actions>

  </mat-card-actions>


</mat-card>

